@charset "iso-8859-1";
/* CSS Document */

@font-face {
    font-family:'gloriola_std_lightregular';
    src: url('gloriola_std_light-webfont.eot');
    src: url('gloriola_std_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('gloriola_std_light-webfont.woff') format('woff'),
         url('gloriola_std_light-webfont.ttf') format('truetype'),
         url('gloriola_std_light-webfont.svg#gloriola_stdlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gloriola_std_mediumregular';
    src: url('gloriola_std_medium.eot');
    src: url('gloriola_std_medium.eot?#iefix') format('embedded-opentype'),
         url('gloriola_std_medium.woff') format('woff'),
         url('gloriola_std_medium.ttf') format('truetype'),
         url('gloriola_std_medium.svg#gloriola_std_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gloriola_std_display_thinRg';
    src: url('gloriola_display_thin.eot');
    src: url('gloriola_display_thin.eot?#iefix') format('embedded-opentype'),
         url('gloriola_display_thin.woff') format('woff'),
         url('gloriola_display_thin.ttf') format('truetype'),
         url('gloriola_display_thin.svg#gloriola_std_display_thinRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gloriola_stdregular';
    src: url('gloriola_std_regular.eot');
    src: url('gloriola_std_regular.eot?#iefix') format('embedded-opentype'),
         url('gloriola_std_regular.woff') format('woff'),
         url('gloriola_std_regular.ttf') format('truetype'),
         url('gloriola_std_regular.svg#gloriola_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gloriola_stdbold';
    src: url('gloriola_std_semibold.eot');
    src: url('gloriola_std_semibold.eot?#iefix') format('embedded-opentype'),
         url('gloriola_std_semibold.woff') format('woff'),
         url('gloriola_std_semibold.ttf') format('truetype'),
         url('gloriola_std_semibold.svg#gloriola_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

