html, body {
    height: 100%;
    font-size: 12px;
}

#nav-top.navbar-static-top {
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.3);
    border-color: transparent;
}

.footer {
    height: 50px;
    width: 100%;
    padding: 15px;
    font-size: 12pt;
    color: #fff;
    position: fixed;
    bottom: 0;
}


#page-wrapper {
    background-color: #f6f6f6;
}

.table-scrolled {
    overflow-x: scroll;
}

.table {
    font-size: 12px;
}

.table-list {
    margin-top: 1em;
}

.panel-top {
    margin-top: 2em;
}

.login {
    transition: background 0.2s;
}

.buttons-top {
    background-color: #f3f3f3;
    padding: 1rem;
    margin-bottom: 1rem;
}