#page{
	display:block;
	width:100%;
	margin:0px auto;
	font-family:"Myriad Pro"
}

#header{
	height:198px;
/* 	max-width:100%; */
	width:100%;
	color:#FFFFFF;
/* 	background:url("../images/frota_banner.png") top center no-repeat fixed; */
}

#frotaBanner img{
	height:180px;
}

#logo img{
	padding-top:20px;
	max-width:100%;
	width:35%;
	heigth:auto;
}

#h1{
	font-size:80px;
	font-style:larger;
	padding:50 0 0 0;	
}

#middle{
	width:900px;
	margin:0 0 0 200;
}

#middle #sidebar{
	width:108px;
	float:left;
}

#middle #main{
/* 	Ajustar width quanto colocar sidebar */
	width:100%;
}

#footer{
	height:54px;
	width:100%;
	text-align:center;
	clear:left;
}

h2{
    color: #006363;
    font-weight: bold;
    font-size: 15px;
    background: -moz-linear-gradient(left, #5CCCCC, #FFFFFF );
}

fieldset{
	border:none;
}

fieldset label{
	display:block;
	padding:2px 2px 2px 2px;
	float:left;
}

fieldset label span{
	display:block;
	font-weight:bold;
}

fieldset label span.inline{
	display:inline;
	font-weight:bold;
}


fieldset .clear{
	clear:both;
}

span.close {
    color:black;
}

span.close a#close{
	background: url(../images/close.png) center left no-repeat;
	color:black;
    padding-left:20px;	
}

span.close a#psw{
	background: url(../images/password.png) center left no-repeat;
	color:black;
    padding-left:20px;	
}

a.show{
	background:url(../images/show_mini.png) center center no-repeat;
    margin-left: 0px;
    padding-top: 20px;
    width: 30px;

}

a.release {
    background: url(../images/unlock_mini.png) center center no-repeat;
    margin-left: 30px;
    padding-top: 34px;
    padding-left: 20px;

}

a.cancel{
	background:url(../images/close.png) center center no-repeat;
    margin-left: 0px;
    padding-left: 20px;
    padding-top: 34px;

}


.datefield{
	left:0px;
	top:0px;
	padding:0px;
	width:15em;
}

.datefield input  {width:10em;}

a.download{
	background:url(../images/download.png) center left no-repeat;
	padding-left:20px;
	padding-top:5px;
}

.buttons input.unlock {
    background: transparent url(../images/unlock.png) no-repeat 5px 50%;
    padding-left: 36px;
}

.buttons input.lock {
    background: transparent url(../images/lock.png) no-repeat 5px 50%;
    padding-left: 36px;
}

.buttons input.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.buttons input.desfazer {
	background: url(../images/skin/shadow.jpg) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.buttons input.confirmar {
	background: url(../images/skin/shadow.jpg) center left no-repeat;
	color: #333;
	padding-left: 25px;
}

.buttons input.xls {
    background: url(../images/xls_mini.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}


.search{
	border:groove;
	margin-top:1em;
	padding-top:0.5em;	
}

.search h2{
	padding-bottom:0.5em;
}

a.file{
	background:url(../images/arquivo_mini.png) center left no-repeat;
	padding-left:20px;
	padding-top:5px;
}

.msg{
	font: 14px helvetica,arial,sans-serif; 
	text-align:center;
	
}
.ok{
	color: #0000FF;
	background: transparent url("../images/ok.png") no-repeat 5px;
	padding-top:10px;
	padding-bottom:10px;
} 
.error{
	color: #FF0000;
	background: transparent url("../images/error.png") no-repeat 5px 50%;
	padding-top:10px;
	padding-bottom:10px;
}
.errorsList{
	color: #FF0000;
	background: transparent url("../images/error.png") no-repeat 5px 50%;
	text-align:left;
	padding-top:10px;
	padding-bottom:10px;
} 
.errorsList li{
	list-style-image: none;
	list-style-position: inside;
	margin-left:40px;
}

a.undo{
	background:url(../images/undo_mini.png) center left no-repeat;
	padding-left:20px;
	padding-top:5px;
}

 input#name, textarea#query{
	width: 700px;
}
 textarea#countQuery {
 	width: 655px;
 }

table.show {
	padding:0;
	border-collapse: collapse;
}

table.show tr{
	border:0;
}

table.show td.name {
	background-color:#48802c;
	text-align:right;
	font-weight:bold;
	color:#FFFFFF;
}

table.table-default {
	font-size: 12px;
}