/*.container-home {
    !*background-color: #444;*!
    !*url(../images/amazon_photo.jpg) no-repeat fixed left*!
    background: url(../images/truck-fleet.jpg) repeat fixed left;
    background-size: 100%;
}*/

body {
    /*background-color: #444;*/
    /*url(../images/amazon_photo.jpg) no-repeat fixed left*/
    background: url(../images/cooper-background.jpg) no-repeat fixed left;
    background-size: 100%;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.vertical-offset-100 {
    padding-top: 100px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

.panel {
    width: 400px;
    margin-bottom: 20px;
    background-color: white;
    color: black !important;
    /*border: 1px solid transparent;*/
    box-shadow: 2px 3px 10px rgba(26, 46, 189, 0.71);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-mobile {
    width: 100%;
    padding: 5px 5px 5px 5px;
    background-color: rgb(36, 63, 121);
    box-shadow: 2px 3px 10px rgba(26, 46, 189, 0.71);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel .panel-default span, .panel .panel-body span{
    font-family: 'gloriola_std_mediumregular' !important;
    color: white;
}

.error-message{
    color: rgb(221, 49, 49);
    font-weight: bold;
}

.btn-success {
    background-color: #096840 !important;
}