/*table td,
table th {
    background-color: #fff !important;
}*/
table {
    border-collapse: collapse !important;
}
table th,
table td {
    border: 1px solid #ddd !important;
}
table {
    width: 100%;
    margin-bottom: 20px;
}
table thead > tr > th,
table tbody > tr > th,
table tfoot > tr > th,
table thead > tr > td,
table tbody > tr > td,
table tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
table thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}
table caption + thead tr:first-child th,
table colgroup + thead tr:first-child th,
table thead:first-child tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child td {
    border-top: 0;
}
table tbody + tbody {
    border-top: 2px solid #dddddd;
}
table .table {
    background-color: #ffffff;
}

#yui-dt0-paginator1{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

#yui-pg0-1-first-span,
#yui-pg0-1-prev-span,
.yui-pg-page,
#yui-pg0-1-next-link,
#yui-pg0-1-last-link,
#yui-pg0-1-first-link,
#yui-pg0-1-prev-link,
#yui-pg0-0-first-span,
#yui-pg0-0-prev-span,
#yui-pg0-0-next-link,
#yui-pg0-0-last-link,
#yui-pg0-1-next-span,
.step,
.prevLink,
.currentStep,
.nextLink
{
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}
#yui-pg0-0-page-report,
#yui-pg0-1-page-report,
#yui-pg0-0-first-span,
#yui-pg0-0-last-link,
#yui-pg0-1-first-span,
#yui-pg0-1-last-link,
#yui-dt0-paginator0,
#yui-pg0-1-first-link{
    display: none;
}