html, body {height: 100%;font-size: 12px;}.footer {height: 50px;width: 100%;padding: 15px;font-size: 12pt;color: #fff;position: fixed;bottom: 0;}#page-wrapper {background-color: #f6f6f6;}.table {font-size: 12px;}.table-list {margin-top: 1em;}.panel-top {margin-top: 2em;}
.login {
  transition: background 0.2s;
}